<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Online Graduate Management</title>
        <h:outputStylesheet name="css/styles.css"  />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
            <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        </link>
    </h:head>

    <h:body>
        <h:form id="logoutform">
            <div class="col-sm-12">
                <h:commandButton class="LOGOUT" value="Logout" />
            </div>
        </h:form>
        <p:tabView>
            <p:tab title="E-Mail">
                <h:form>
                    <h:form>
                        <div class=" col-sm-12">
                            <div class="col-sm-12">
                                <h:form>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="col-sm-2">
                                                    <h:outputText value="Betreff:"/>       
                                                </div>
                                                <div class="col-sm-7">
                                                    <h:inputText  value=""/>
                                                </div>
                                                <div class="col-sm-4">
                                                    <h:outputText value =" "/>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="col-sm-2">
                                                    <h:outputText value="CC:"/>          
                                                </div>
                                                <div class="col-sm-7">
                                                    <h:inputText value=""/>
                                                </div>
                                            </div>
                                             <div class="col-sm-12">
                                                <div class="col-sm-2">
                                                    <h:outputText value="Passwort:"/>          
                                                </div>
                                                <div class="col-sm-7">
                                                    <h:inputText value=""/>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="col-sm-2">
                                                    <h:outputText value="Nachricht:"/>          
                                                </div>
                                                <div class="col-sm-7">
                                                    <h:inputTextarea rows="10" cols="90"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sal-6">

                                        <h:dataTable value="#{adminBean.jList}" var="j" cellspacing="2">
                                            <h:column>
                                                <f:facet name="header">
                                                    <h:outputText value="Jahr:"/>
                                                </f:facet>
                                                <h:outputText value="#{j.jahrgang}"/>
                                            </h:column>

                                            <!--  <h:column>
                                                  <f:facet name="header">
                                                      <p:selectBooleanCheckbox onchange="#{adminBean.selectedJahrgang}" value="false"></p:selectBooleanCheckbox>
                                                  </f:facet>
                                              </h:column>
  
                                              <h:dataTable value="#{adminBean.jList.kList}" var="k" cellspacing="2" rendered="#{adminBean.isSelected(j.jahrgang)}">
                                                  <h:column>
                                                      <f:facet name="header">
                                                          <h:outputText value=""/>
                                                      </f:facet>
                                                      <h:outputText value="Klasse: #{k.bezeichnung}"/>
                                                  </h:column>
  
                                                  <h:column>
                                                      <f:facet name="header">
                                                          <p:selectBooleanCheckbox onchange="#{adminBean.selectedKlasse}" value="false"></p:selectBooleanCheckbox>
                                                      </f:facet>
                                                  </h:column>
                                              </h:dataTable>
                                            -->
                                        </h:dataTable>
                                        <h:outputText value="Select all"/>
                                        <p:selectBooleanCheckbox onchange="#{adminBean.selectedAll}" value="false"></p:selectBooleanCheckbox>
                                    </div>
                                </h:form>
                            </div>
                        </div>
                    </h:form>
                </h:form>
            </p:tab>

            <p:tab title="Klassen drucken">
                <h:form>
                    <div class=" col-sm-12">
                        <div class="form-group">
                            <h:form>
                                <div class="col-sm-6 TABLEROWFIRST">
                                    <h:panelGrid columns="2" border="0" class="TABLEROW" width="90" >
                                        <h:outputText value="SVNr" class="TABLEROWFIRST"/>
                                        <p:selectBooleanCheckbox value="#{adminBean.svnrB}" class="CHECKBOX Right"/>


                                        <h:outputText value="Vorname:" class="TABLEROWFIRST"/>
                                        <p:selectBooleanCheckbox value="#{adminBean.vornameB}" class="CHECKBOX"/>


                                        <h:outputText value="Nachname:" class="TABLEROWFIRST"/>
                                        <p:selectBooleanCheckbox value="#{adminBean.nachnameB}" class="CHECKBOX"/>

                                        <h:outputText value="Geschlecht:" class="TABLEROWFIRST"/>
                                        <p:selectBooleanCheckbox value="#{adminBean.geschlechtB}" class="CHECKBOX"/>

                                        <h:outputText value="Telefon:" class="TABLEROWFIRST"/>
                                        <p:selectBooleanCheckbox value="#{adminBean.telefonB}" class="CHECKBOX"/>

                                        <h:outputText value="E-Mail:" class="TABLEROWFIRST"/>
                                        <p:selectBooleanCheckbox value="#{adminBean.eMailB}" class="CHECKBOX"/>

                                        <h:outputText value="Firma:" class="TABLEROWFIRST"/>
                                        <p:selectBooleanCheckbox value="#{adminBean.firmaB}" class="CHECKBOX"/>

                                        <h:outputText value="Adresse:" class="TABLEROWFIRST"/>
                                        <p:selectBooleanCheckbox value="#{adminBean.adresseB}" class="CHECKBOX"/>

                                        <h:outputText value="Alle auswählen:" class="TABLEROWFIRST"/>
                                        <p:selectBooleanCheckbox value="#{adminBean.all}" class="CHECKBOX"/>
                                    </h:panelGrid>
                                </div>

                                <div class="col-sm-6">
                                </div>
                            </h:form>
                        </div>
                    </div>
                    <h:panelGrid columns="2" border="0" class="TABLEROW" width="90" >
                        <br  />
                        <p:commandButton value="Exportieren zu Excel" actionListener="#{adminBean.exportieren}"/>
                    </h:panelGrid>

    
                </h:form>
            </p:tab>

            <p:tab title="Verwaltung">
                <h:form>
                    <div class=" col-sm-12">
                        <div class="form-group">
                            <h:form>
                                <div class="col-sm-6">
                                    <h:panelGrid columns="1" border="0" width="90" >
                                        <p:commandButton value="Absolvent hinzufügen" class="DISTANCE" onclick="PF('absolvent').show();"/>
                                        <p:commandButton value="Klasse hinzufügen" class="DISTANCE" onclick="PF('klasse').show();"/>
                                        <p:commandButton value="Jahrgang hinzufügen" onclick="PF('jahrgang').show();"/>
                                        <br  />
                                        <p:commandButton value="Daten bearbeiten" class="DISTANCE" onclick="PF('daten').show();"/>
                                        <p:commandButton value="Löschen" onclick="PF('löschen').show();"/>
                                        <br />
                                        <p:commandButton value="Klasse exportieren" class="DISTANCE" onclick="PF('ex').show();"/>
                                        <p:commandButton value="Klasse importieren" onclick="PF('im').show();"/>
                                    </h:panelGrid>
                                </div>
                                <p:dialog header="Klasse exportieren" widgetVar="ex" modal="true" height="100">
                                    <h:panelGrid columns="2" border="0" width="90" >
                                        <h:outputText value="Klasse"/>
                                        <h:inputText value="#{popUpBean.klasse.bezeichnung}"/>
                                        <h:outputText value="Jahrgang"/>
                                        <h:inputText value="#{popUpBean.klasse.abschlussjahr}"/>
                                        <h:commandButton value="exportieren" onchange="#{popUpBean.klasseExportieren}"/>
                                    </h:panelGrid>
                                </p:dialog>

                                <p:dialog header="Klasse importieren" widgetVar="im" modal="true" height="100">
                                    <h:panelGrid columns="2" border="0" width="90" >
                                        <h:outputText value="Bezeichnung"/>
                                        <h:inputText value="#{popUpBean.klasse.bezeichnung}"/>
                                        <h:outputText value="Abschlussjahr"/>
                                        <h:inputText value="#{popUpBean.klasse.abschlussjahr}"/>
                                        <h:commandButton value="hinzufügen" onchange="#{popUpBean.klasseImporieren}"/>
                                    </h:panelGrid>
                                </p:dialog>   

                                <p:dialog header="Klasse Hinzufügen" widgetVar="klasse" modal="true" height="100">
                                    <h:panelGrid columns="2" border="0" width="90" >
                                        <h:outputText value="Bezeichnung"/>
                                        <h:inputText value="#{popUpBean.klasse.bezeichnung}"/>
                                        <h:outputText value="Abschlussjahr"/>
                                        <h:inputText value="#{popUpBean.klasse.abschlussjahr}"/>
                                        <h:commandButton value="hinzufügen" onchange="#{popUpBean.klasseHinzufügen}"/>
                                    </h:panelGrid>
                                </p:dialog>   

                                <p:dialog header="Jahrgang Hinzufügen" widgetVar="jahrgang" modal="true" height="100">
                                    <h:panelGrid columns="2" border="0" width="90" >
                                        <h:outputText value="Jahrgang"/>
                                        <h:inputText value="#{popUpBean.jahrgang.jahrgang}"/>
                                    </h:panelGrid>
                                    <h:commandButton value="hinzufügen" onchange="#{popUpBean.jahrgangHinzufügen}"/>
                                </p:dialog>

                                <p:dialog header="Absolvent Hinzufügen" widgetVar="absolvent" modal="true" height="100">
                                    <h:panelGrid columns="2" border="0" width="90" >
                                        <h:outputText value="SVR"/>
                                        <h:inputText value="#{popUpBean.absolvent.svr}"/>
                                        <h:outputText value="Nachname"/>
                                        <h:inputText value="#{popUpBean.absolvent.nachname}"/>
                                        <h:outputText value="Vorname"/>
                                        <h:inputText value="#{popUpBean.absolvent.vorname}"/>
                                        <h:outputText value="E-Mail"/>
                                        <h:inputText value="#{popUpBean.absolvent.EMail}"/>
                                    </h:panelGrid>
                                    <h:commandButton value="hinzufügen" onchange="#{popUpBean.absolventHinzufügen}"/>
                                </p:dialog>

                                <p:dialog header="Daten bearbeiten" widgetVar="daten" modal="true" height="100">
                                    <h:commandButton value="bearbeiten" onchange="#{popUpBean.datenBearbeiten}"/>
                                </p:dialog>

                                <p:dialog header="Löschen" widgetVar="löschen" modal="true" height="100">
                                    <h:commandButton value="bearbeiten" onchange="#{popUpBean.datenLöschen}"/>
                                </p:dialog>
                                <div class="col-sm-6">
                                </div>
                            </h:form>
                        </div>
                    </div>
                </h:form>
            </p:tab>
        </p:tabView>
    </h:body>
</html>
